<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
</head>
<body>

    <h3>edit listing:</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="title" type="text" placeholder=" enter title" value="<%= listing.title %>">
        <br><br>
        <textarea name="description" placeholder=" enter description"><%= listing.description %></textarea>
        <br><br>
        <input name="Image" type="text" placeholder=" enter image url" value="<%= listing.Image %>">
        <br><br>
        <input name="price" type="number" placeholder=" enter price" value="<%= listing.price %>">
        <br><br>
        <input name="Country" type="text" placeholder=" enter country" value="<%= listing.Country %>">
        <br><br>
        <input name="location" type="text" placeholder=" enter location" value="<%= listing.location %>">
        <br><br>
        <button type="submit">Update</button>
    </form>

</body>
</html>
